.menu-wrapper {
  display: flex;
  justify-content: space-between;
  background: #232323;
  padding: 20px 0;
  width: 1084px;
  margin: 5px auto;
  border-bottom: 3px solid #424242;
}

.menu {
  display: flex;
  list-style-type: none;
  width: 450px;
}

.sort {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.888889px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.6;

  #movie-select {
    color: #FFFFFF;
    background-color: #232323;
    text-transform: uppercase;
    border: none;
    font-size: 16px;
    margin-left: 30px;
  }
}