@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.posts-section {
  width: 100%;
  margin: 0 auto;
  padding: 20px 58px;

  span {    
    @include text(20px, 400, 24px);
    color: $white;
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  background: $darkGray;
  margin: 5px auto;
  border-radius: 5px;  
  padding: 0;
}