.menu-wrapper {
  background: #CDCDCD;
  padding: 20px;
  width: 960px;
  margin: 5px auto;
  border-radius: 5px;
}
.menu {
  display: flex;
  list-style-type: none;
  width: 900px;
  margin: 5px auto;
  border-bottom: 3px solid #808080;
}