.counter {
  background: #F2F2F2;
  height: 200px;
  width: 960px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 50px 20px;
  font-weight: 300;
  font-size: 28.08px;
  line-height: 34px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  color: #CCCCCC;
}