@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.error-page {
  margin-bottom: 10px;
  background: $darkGray;
  height: 396px;
  padding-top: 100px;

  &__wrapper {
    max-width: 960px;
    color: $red;

    .header {
      @include text(50px, 900, 60px);
      text-align: center;
    }
  }
}