@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.h2 {
  width: 73%;
  margin: 35px auto;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $white;
}

.h3 {
  @include text(18px, 500, 22px);
  color: $white;
  text-transform: capitalize;
  opacity: 0.7;
  margin: 0;
}