.title {
  width: 960px;
  margin: 35px auto;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #FFFFFF;
}