@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.header {
  padding-top: 20px;
  position: absolute;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;

  .btn-gray {
    color: $red;
    background: #606060ad;
    border: none;
    @include text(20px, 600, 24px);
  
    &:hover {
      background: #838383ad;
    }
  }

  .btn-small {
    padding: 11px 18px;
  }
}