.header {
  height: 396px;
  background: url('../../images/header_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  margin: 0 75px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}