.header {
  height: 396px;
  background: url('../../images/header_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  .logo {
    color: #F65261;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  
    .bold {
      font-weight: 900;
    }
  }
  
}