.toggle-item {
  position: relative;
  margin-left: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  background: #CDCDCD;
}

.active::after {
    position: relative;
    content: '';
    top: 3px;
    border-bottom: 3px solid #D42828;
    display: block;
}