@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.movie {
  width: 327px;
  margin: 20px 0;
}

.img {
  position: relative;
  height: 462px;
  width: 100%;
  background: url('../../images/avengers_war_of_infinity_bg.png');
  background-size: contain;
  text-align: right;
  padding: 14px;

  .hov {
    display: none;
  }

  &:hover > .hov {
    display: inline-block;
    text-align: right;
  }
}

.description {
  margin-top: 20px;
  color: #919191;
  font-size: 14px;

  .name {
    display: flex;
    justify-content: space-between;

    .h3 {
      @include text(18px, 500, 22px);
      color: $white;
      text-transform: capitalize;
      opacity: 0.7;
      margin: 0;
    }

    .year {
      font-size: 14px;
      line-height: 17px;
      padding: 4px 8px;
      border: 1px solid #979797;
      border-radius: 4px;
      opacity: 0.7;
    }
  }
}