@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.delete-movie {
  width: 550px;
  margin: 0 60px;
  color: $white;

  .h3 {
    font-style: normal;
    @include text(40px, 300, 49px);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  p {
    @include text(20px, 400, 24px);
  }
  &__button {
    text-align: right;
    margin: 52px 0 70px 0;
  }
}