.toggle-item {
  position: relative;
  margin-right: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  background: #232323;
}

.toggle-item:hover {
  color: #D42828;
}

.active::after {
    position: relative;
    content: '';
    top: 23px;
    border-bottom: 3px solid #D42828;
    display: block;
}